USE [master]
GO
/****** Object:  Database [TestBS]    Script Date: 07.09.2020 16:50:36 ******/
CREATE DATABASE [TestBS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestBS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestBS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestBS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TestBS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestBS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestBS]
GO
/****** Object:  Table [dbo].[Depts]    Script Date: 07.09.2020 16:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Dept] [nvarchar](max) NULL,
 CONSTRAINT [PK_Depts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Genders]    Script Date: 07.09.2020 16:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Genders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Sex] [nvarchar](max) NULL,
 CONSTRAINT [PK_Genders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Patients]    Script Date: 07.09.2020 16:50:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patients](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Fio] [nvarchar](max) NULL,
	[Dept_Id] [int] NULL,
	[Sex_id] [int] NULL,
	[IVL] [nvarchar](max) NULL,
 CONSTRAINT [PK_Patients] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Depts] ON 

INSERT [dbo].[Depts] ([Id], [Dept]) VALUES (1, N'ОР1')
INSERT [dbo].[Depts] ([Id], [Dept]) VALUES (2, N'Кардиология1')
INSERT [dbo].[Depts] ([Id], [Dept]) VALUES (4, N'Пульмонология')
SET IDENTITY_INSERT [dbo].[Depts] OFF
GO
SET IDENTITY_INSERT [dbo].[Genders] ON 

INSERT [dbo].[Genders] ([Id], [Sex]) VALUES (1, N'Мужской')
INSERT [dbo].[Genders] ([Id], [Sex]) VALUES (2, N'Женский')
SET IDENTITY_INSERT [dbo].[Genders] OFF
GO
SET IDENTITY_INSERT [dbo].[Patients] ON 

INSERT [dbo].[Patients] ([Id], [Fio], [Dept_Id], [Sex_id], [IVL]) VALUES (1, N'Иванов', 1, 1, N'Да')
INSERT [dbo].[Patients] ([Id], [Fio], [Dept_Id], [Sex_id], [IVL]) VALUES (2, N'Петров', 2, 1, N'Нет')
INSERT [dbo].[Patients] ([Id], [Fio], [Dept_Id], [Sex_id], [IVL]) VALUES (3, N'Сидорова', 1, 2, N'Да')
SET IDENTITY_INSERT [dbo].[Patients] OFF
GO
ALTER TABLE [dbo].[Patients]  WITH CHECK ADD  CONSTRAINT [FK_Patients_Depts] FOREIGN KEY([Dept_Id])
REFERENCES [dbo].[Depts] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Depts]
GO
ALTER TABLE [dbo].[Patients]  WITH NOCHECK ADD  CONSTRAINT [FK_Patients_Genders] FOREIGN KEY([Sex_id])
REFERENCES [dbo].[Genders] ([Id])
GO
ALTER TABLE [dbo].[Patients] CHECK CONSTRAINT [FK_Patients_Genders]
GO
USE [master]
GO
