@{
    Layout = "~/Views/Shared/_DevExtremeLayout.cshtml";
    ViewData["Title"] = "Добавить пациента";
    var rusifiedBoolean = new List<string>() { "Да", "Нет" };
}

<h2>Добавить пациента</h2>

@using (Html.BeginForm())
{
    using (Html.DevExtreme().ValidationGroup())
    {
        @Html.AntiForgeryToken()
        @(Html.DevExtreme().Form<Domain.PatientModel>()
                        .ShowValidationSummary(true)
                        .Items(items =>
                        {

                            items.AddSimpleFor(m => m.FIO);

                            items.AddSimpleFor(m => m.Dept_Id)
                            .Editor(e => e
                            .SelectBox()
                            .DataSource(d => d.Mvc()
                                .Controller("Values")
                                .LoadAction("GetDepts")
                                .LoadMode(DataSourceLoadMode.Raw))
                            .DisplayExpr("Dept")
                            .ValueExpr("Id")
                            );

                            items.AddSimpleFor(m => m.Sex_Id)
                            .Editor(e=>e
                            .RadioGroup()
                            .DataSource(d => d.Mvc()
                                .Controller("Values")
                                .LoadAction("GetGenders")
                                .LoadMode(DataSourceLoadMode.Raw))
                            .DisplayExpr("Sex")
                            .ValueExpr("Id"));

                            items.AddSimpleFor(m => m.IVL)
                            .Editor(e => e
                            .RadioGroup()
                            .DataSource(rusifiedBoolean));
                        }).FormData(Model))
            }

            @(Html.DevExtreme().ValidationSummary()
                .ID("summary")
            )

            @(Html.DevExtreme()
            .Button()
            .Type(ButtonType.Success)
            .Text("Создать")
            .UseSubmitBehavior(true)
        );
        }
